extends layouts/layout_monitoring
block vars
  -title = 'Options'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    .br_tab
      ul
        li
          a(href="#") Jenks HS
        li
          a(href="#") Math 5 0879
        li
          a(href="#") Test Sessions
    .table_monitoring
      .top_title
        p Session: apple 38920
        a(href="#") Open
      .legend_stt
        .legend_l
          h3 Legend:
          p.inactive Inactive
          p.active Active
          p.sub Submitted
          p.cancel Cancelled
        .legend_r
          p Student: 10 
      .table_result
        h3 1.1a
        table
          tr
            th Status
            th Student ID
            th Name
            th Pattern
            th Q1
            th Q2
            th Q3
            th Q4
            th Q5
            th Score
          tr 
            td 
              label(for="status").inactive
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").inactive
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").sub
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").active
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").active
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").cancel
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")                             
      .table_result
        h3 1.1a
        table
          tr
            th Status
            th Student ID
            th Name
            th Pattern
            th Q1
            th Q2
            th Q3
            th Q4
            th Q5
            th Score
          tr 
            td 
              label(for="status").active
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").inactive
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").cancel
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").active
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").sub
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
          tr 
            td 
              label(for="status").inactive
            td 0123456789
            td Ina Garten
            td 1
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")
            td 
              input(type="text", name="")                                    