.footer_test
  .ft_tst_l
      ul
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="Guideline").guideline
            span Guideline
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="Reverse Contrast").contrast
            span Reverse Contrast
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="Color Contrast").color_cont
            span Color Contrast
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="Sketch & Highlight").sketch
            span Sketch & Highlight
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="Calculator").cal
            span Calculator
        li.icon_tootip  
          a(href="#", data-toggle="tooltip", data-placement="top", title="General Masking").masking
            span General Masking           
  .ft_tst_r
    ul
      li
        a(href="#").btn_finish Finish
      li
        a(href="#").btn_next Next
      li
        a(href="#").btn_back Back
      li
        a(href="#").btn_pause_tst.active Pause Test
      li
        a(href="#").btn_reset Reset


