.header_test
  .number_qa
    a(href="#").question
      p Question
      span#couter_nb 18
    .icon_tootip  
      a(href="#", data-toggle="tooltip", data-placement="top", title="Bookmark").bookmark
        span Bookmark
  .status_st
    span#time_test 00:00:00
    .icon_tootip  
      a(href="#", data-toggle="tooltip", data-placement="top", title="Online").online_stt
        span Online

